body{
    font-family: 'Noto Sans TC', sans-serif;
    font-size: "20px"
} 

.main{
    margin: "20px";
    padding: "20px";
}

.avatar {
    vertical-align: middle;
    width: 230px;
    height: 230px;
    border-radius: 50%;
}

.mentor{
    display: flex; 
    flex-direction: row; 
    align-content: center; 
    justify-content: center;
    align-items: center; 
    width: 100%; 
    flex-wrap: wrap;
}

.profile{
    display: flex; 
    flex-direction: column;
    align-content: center; 
    justify-content: center; 
    align-items: center; 
    padding: 50px;
}

.profileName{
    padding-top: 15px; 
    font-size: 20px;
}

.occupation{
    color: #818181;
    text-align: center;
    font-size: 14px;
}

.uni {
    color: black;
    font-size: 15px;
}


.nav-link:hover {
    color: #2e9dff !important;
}

.active {
    color: #69b9ff !important
}

.nav-link {
    color: gray
}



